// colors
@DARK_BG: #030309;
@SPOKE_COLOR: #2b2e4c; // duplicated in wheel.js

@PLAY_SPINNER_INNER:   #f1edad;
@PLAY_SPINNER_MIDDLE1: #fca566;
@PLAY_SPINNER_MIDDLE2: #c26400;
@PLAY_SPINNER_OUTER:   #ecc465;

// spacers
@OBJ_SPACER: 20px;
@MINI_SPACER: 8px;

// blues
@BLUE1: #3FABC9;
@BLUE2: #155D82;

// group buttons, with their rests & musical notes
@GROUP_BTN_SIZE:   120px;
@GROUP_REST_SIZE:  10px;
@GROUP_REST_SCALE: 1.08*1.08*1.11;
@GROUP_REST_SPEED: 20s;

// audio links
@AUDIO_LINK_COLOR1: lighten(@SPOKE_COLOR, 40%);
@AUDIO_LINK_COLOR2: @SPOKE_COLOR;
@AUDIO_LINK_PULSE_SPEED: 3s;


//==================
//========== MIXINS
//==================

.fullSize() {
  position: absolute;
  top:0; left:0; right:0; bottom:0;
}

.radi-gradi(@inner, @outer) {
  background:    -moz-radial-gradient(50% 50%, circle cover, @inner 0, @outer 100%); // FF3.6+
  background: -webkit-radial-gradient(50% 50%, circle cover, @inner 0, @outer 100%); // Chrome10+,Safari5.1+
  background:      -o-radial-gradient(50% 50%, circle cover, @inner 0, @outer 100%); // Opera 11.10+
  background:     -ms-radial-gradient(50% 50%, circle cover, @inner 0, @outer 100%); // IE10+
  background:         radial-gradient(50% 50%, circle cover, @inner 0, @outer 100%); // W3C
}

// we can't animate the fill color of an SVG, but we can change
// the background color on a masked SVG! use this to animate
// the fill color
//
.svg-masked-bg(@svgFile, @color) {
  -webkit-mask: url(@svgFile);
  -o-mask: url(@svgFile);
  -ms-mask: url(@svgFile);
  mask: url(@svgFile);
  background: @color;
}
