
.animation-base(@dur: 0.6s) {
           animation-duration: @dur;
          animation-fill-mode: both;
}
.endState-opacity0 {
  opacity: 0 !important;
  pointer-events: none;
}
.endState-opacity1 {
  opacity: 1 !important;
  z-index: 10;
  pointer-events: all !important;
}

//--------

@keyframes fadeOut {
  0% { opacity: 1 } 100% { opacity: 0 }
}

.fadeOut {
  .animation-base();
  animation-name: fadeOut;
}

.fadeIn:extend(.fadeOut) {
  animation-direction: reverse;
}

//--------

@keyframes rotate {
  0% { transform: rotate(0deg) } 100% { transform: rotate(360deg) }
}

.rotate {
  // timing will be overriden by one of the classes below
  animation: rotate 1s linear infinite;
}

// rotation speeds (for notes)
//
@rotation-durations: 1.15s,1.25s,0.7s,0.52s,0.8s;

.generate-rotation-speeds(length(@rotation-durations));
.generate-rotation-speeds(@ct, @i: 1) when (@i =< @ct) {

  .rotate-@{i} {
    animation-duration: extract(@rotation-durations, @i);
  }
  .generate-rotation-speeds(@ct, (@i + 1));
}
//--------

@keyframes fadePulse {
  0%   { opacity: 0 }
  70%  { opacity: 0 }
  80%  { opacity: 1 }
  90%  { opacity: 0 }
}
.fadePulse-1 {
  animation: fadePulse 3s linear alternate 0.3s infinite;
}
.fadePulse-2 {
  animation: fadePulse 4s linear alternate 1.5s infinite;
}
.fadePulse-3 {
  animation: fadePulse 5.2s linear alternate 2.3s infinite;
}
.fadePulse-4 {
  animation: fadePulse 5.8s linear alternate 4s infinite;
}
.fadePulse-5 {
  animation: fadePulse 6.3s linear alternate 2s infinite;
}

//========================
//-------- song groups

@keyframes songGroupIn {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}

.songGroupIn {
  .animation-base(0.8s);
  animation-name: songGroupIn;
}

//--------

@keyframes songGroupOut {
  0%   { opacity: 1 }
  100% { opacity: 0 }
}

.songGroupOut {
  .animation-base(0.3s);
  animation-name: songGroupOut;
}

//========================
//-------- song group CHILDREN

@keyframes songGroupChildIn {
  0%   { transform:translate(0,-100px); opacity: 0 }
  100% { transform:translate(0,0) }
}

@songGroupChildMaxCount: 12;

.songGroupIn > * {
  .animation-base(0.4s);
  animation-name: songGroupChildIn;
}

.generate-songgroupIN-delays(@songGroupChildMaxCount);
.generate-songgroupIN-delays(@ct, @i: 1) when (@i =< @ct) {

  .songGroupIn > :nth-child(@{i}) {
    animation-delay: unit((@i - 1) * 0.1, s);
  }
  .generate-songgroupIN-delays(@ct, (@i + 1));
}

// ----- out

@keyframes songGroupChildOut {
  0%   { transform:translate(0,0); opacity: 1 }
  100% { transform:translate(0,100px); opacity: 0 }
}

@songGroupChildMaxCount: 8;

.songGroupOut > * {
  .animation-base(0.6s);
  animation-name: songGroupChildOut;
}

.generate-songgroupOut-delays(@songGroupChildMaxCount);
.generate-songgroupOut-delays(@ct, @i: 1) when (@i =< @ct) {

  .songGroupOut > :nth-last-child(@{i}) {
    animation-delay: unit((@i - 1) * 0.1, s);
  }
  .generate-songgroupOut-delays(@ct, (@i + 1));
}

//========================
//-------- utilities menu

@keyframes utils-open {
  0%   { opacity: 0; transform: translate3d(0, 20px, 0) scale(0.95); }
  100% { opacity: 1; transform: translate3d(0, 0, 0)    scale(1); }
}

@keyframes utils-close {
  0%   { opacity: 1; transform: translate3d(0, 0, 0)    scale(1); }
  100% { opacity: 0; transform: translate3d(0, 20px, 0) scale(0.95); }
}

.utils-open {
  .animation-base(0.3s);
  animation-name: utils-open;
}

.utils-close {
  .animation-base(0.3s);
  animation-name: utils-close;
}
