@import "_variables";


//------------------
// AUDIO (play) BUTTONS
//

a[data-mp3] {
  display: block;
  margin: @MINI_SPACER 0 0;
  font: 16px Ev;
  overflow: hidden;
  text-transform: uppercase;

  svg {   // play-button indicator
    margin-right: @MINI_SPACER;
    position: relative;
    top: 2px;
  }
  // hover effect on the play triangle
  polygon, rect {
    transition: all 0.25s
  }
  &:hover {
    polygon, rect {
      fill: rgba(255,255,255,0.9);
      stroke: rgba(0,0,0,0.2);
      stroke-width: 1px;
    }
  }
}

//------------------
// AUDIO PLAY BARS
//

// audio status bar
//

.playBarWrap {
  overflow: hidden;
}
.playStatus {
  width: 200px;
  height: 20px;
  margin: @MINI_SPACER 0 0;
  //padding: 4px;
  //background: #ddd;
  font: 12px/22px Ev;

  // for entry animation
           max-height: 0;
            animation: 0.25s playBarEntry ease-out;
  animation-fill-mode: both;

  .barbox {
    display: inline-block;
    position: relative;
    width: calc(~"200px - 40px");
    height: 100%;
    background: @SPOKE_COLOR;
    cursor: pointer;
  }
  .bar, .buffer {
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    background: @BLUE2;
    transition: width 0.2s, background 0.05s;
    z-index: 2;
  }
  .buffer {
    background: lighten(@SPOKE_COLOR, 6%);
    z-index: 1;
  }

  .time {
    float: right;
    color: lighten(@SPOKE_COLOR, 40%); // rgba(255,255,255,0.7);
    //background:rgba(255,0,0,0.2);
  }
}

@keyframes playBarEntry {
  0% { max-height:0; opacity: 0 } 100% { max-height:20px; }
}
@keyframes playBarExit {
  100% { max-height:0; opacity: 0; margin:0 } 0% { max-height:80px; }
}

.playBarExit {
  animation: 0.25s playBarExit ease-out;
}

// pulsar play-bar animation
// http://codepen.io/Zeneraith/pen/bdEmA?editors=110
//

.anim-root() {
  content: '';
  border-radius: 50%;
  animation: 1s infinite ease-in-out;
}



.playbar {
  outline: 2px solid red;
  position: relative;
  margin:60px;
  height:20px;
  overflow: hidden;

  .reveal {
    position: absolute;
    right:0; top:0; bottom:0;
    left: 0;  // moving %
    background: rgba(0,0,0,0.85);
    z-index: 10;

    // TEMP
    -webkit-animation: revealer 20s;
  }
}
// TEMP
@-webkit-keyframes revealer {
  100% { left:100% }
}
