@import "_variables";

//------------------
// GENERAL: BODY & TYPOGRAPHY
//
html{
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  margin:0; padding:0;
  background: @DARK_BG;
  position: relative;
  color: #fff;
  font: 18px/23px Georgia;
}

@font-face {
  font-family: "Ev";
  src: url("../font/ev.woff") format('woff');
}

// logo & subtitle
h1, h2 {
  margin: 0;
  padding: @OBJ_SPACER;
  text-align: center;

  img {
    width: 100%;
    max-width: 500px;
    opacity: 0.9;
  }
}
h2 {
  padding-top:0
}
p {
  span {font-size:24px;}
}
a {
  text-decoration: none;
  color: #fff;
}
