
@import "_variables";

//<editor-fold desc="GROUP BUTTONS">
//------------------
// GROUP BUTTONS
//
#group-header {

  margin: @MINI_SPACER 0 0;
  text-align: center;

  // the header buttons themselves
  //
  a {
    // layout
    display: inline-block;
    margin: 30px;
    width: @GROUP_BTN_SIZE; height: @GROUP_BTN_SIZE;
    position: relative;;

    // typography
    font: 25px/@GROUP_BTN_SIZE Ev;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    // hover & opacity management
    opacity: 0.5;
    //transition: opacity 0.4s;   // this line makes chrome jitter when we click

    // resize
    @media (max-width: 640px) {
      transform: scale(0.85);
      margin: 15px;
    }
    @media (max-width: 500px) {
      transform: scale(0.65);
      margin: 0;
    }
    @media (max-width: 380px) {
      transform: scale(0.9);
      width: 100px;
      height: 50px;
      line-height: 50px;
      font-size: 19px;
      .circles { display:none }
    }
    @media (max-width: 300px) {
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 15px;
    }

    &.on {
      opacity: 1;
    }
    &.off {
      opacity: 0.3;
      &:hover { opacity: 0.5 }
    }

    // design stuff
    .circles {
      .fullSize();
      pointer-events: none;

      div {
        .fullSize();
        border:1px solid rgba(255,255,255,0.5);
        border-radius: 50%;
        transform: scale(1.08);
      }
    }
  }
}

// prep the rotation animation for RESTS only (b/c it has an embedded scaling factor)
//
@keyframes rotate-rest {
  0%   { transform: rotate(0deg)   scale(@GROUP_REST_SCALE) }
  100% { transform: rotate(360deg) scale(@GROUP_REST_SCALE) }
}

// negative delays to set up offsets
@rest-rotation-delays: -4s,-11s,-17s,-9s,-6s;
.generate-rest-rotation(length(@rest-rotation-delays));
.generate-rest-rotation(@ct, @i: 1) when (@i =< @ct) {
  .rest-rotation-@{i} {
    animation: rotate-rest 20s linear extract(@rest-rotation-delays, @i) infinite;
  }
  .generate-rest-rotation(@ct, (@i + 1));
}

.rest {
  .fullSize();
  display:block;

  // the scale is applied here; rotation is done in javascript (see groupButton.js)
  transform: scale(@GROUP_REST_SCALE);

  // this is the rest itself, drawn as a simple rectangle
  span {
    display: block;
    width: @GROUP_REST_SIZE;
    margin-left: (@GROUP_BTN_SIZE - @GROUP_REST_SIZE)/2;
    height: 1px;
    background: #fff;
  }
}

.notes {
  .fullSize();
  display:block;
  text-align: center;

  font-family: notes;
  font-size: 18px;
  margin-top: -2px;

  opacity: 0;     // to start; the notes are faded in in code

  transform: scale(@GROUP_REST_SCALE) rotate(0deg);

  span {
    display:block;
    position: absolute;
    width:100%; height: 100%;
    line-height: 0;
  }
}
//</editor-fold>

//<editor-fold desc="GROUP CONTENTSES">
// all contentses go inside
//
.group-contents-class {
  position: relative;

  width: 500px;
  margin: 0 auto;
  max-width: 95%;
  z-index: 10;

  transition: opacity 0.5s;

  & > div { // the group containers
    position: absolute;
    overflow: hidden;
    opacity: 0;
    margin: @OBJ_SPACER;
    pointer-events: none; // until overridden
  }

  &.dim {
    opacity: 0.2
  }

  // normal text links
  //
  a:not([data-mp3]) {
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    transition: all 0.1s;

    &:hover {
      border-bottom: 1px solid #fff;
      background: rgba(255,255,255,0.25);
    }
  }
}
//</editor-fold>