
// prep
//
@font-face {
  font-family: 'notes';
  src:url('../font/music.woff?-9toypc') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* autoprefixer: off */

  font-family: 'notes';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// the icons
//
.icon-dotted:before {
  content: "\e600";
}
.icon-eighth:before {
  content: "\e601";
}
.icon-eighths:before {
  content: "\e602";
}
.icon-quarter:before {
  content: "\e603";
}
.icon-sixteenths:before {
  content: "\e604";
}

// testing
p.musical {
  color: #f9f;
  font: notes;
}

/*
for example:

<p class="musical">
    <b class="icon-dotted"></b>
</p>

*/