
@import "_variables";

//<editor-fold desc="SVG RELATED">
//------------------
// SVG RELATED
//
#jb1 {
  background: #111;
  outline:1px solid #444;

  width: 500px;
  height: 200px;

  margin:30px;
}

#bags-bass {
  position: absolute;
  z-index: 4;

  left:0; bottom:0;
  width: 230px; height: 200px;

  background: url(../i/bags-bass.png) no-repeat;
  background-size: contain;
  
  @media (max-height: 767px) {  // yes, height-triggered
    display: none;
  }
}

#bigCanvas {
  position: fixed;
  z-index: 3;

  bottom:0; left:0;
  width: 800px;
  height: 800px;

  pointer-events: none;
}

#wheel {
  position: fixed;
  left:0; bottom:0;
  width: 500px;
  height: 500px;
  z-index: -1;

  .spoke {
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: @SPOKE_COLOR;

    // lower-left anchor
    transform-origin: 0 100%;
  }
}

// each arm gets its own class, with a negative delay to set up an offset
//
@SPOKE_PERIOD: 34; // seconds
.spoke-generator(12);
.spoke-generator(@n, @i: 1) when (@i =< @n) {
  .spoke-@{i} {

    animation: spoke unit(@SPOKE_PERIOD,s) linear unit(-@SPOKE_PERIOD*(@i/@n),s) infinite;
  }
  .spoke-generator(@n, (@i + 1));
}

// we extend a few degrees outside [0-90] to ensure
// the spokes rotate in gracefully. otherwise they
// snap in too abruptly
//
@keyframes spoke {
  0%   { transform: rotate(-10deg) scaleX(1.3) }
  100% { transform: rotate(100deg) scaleX(0.1) }
}

#swirls {
  position: absolute;
  right: -125px; bottom:0;
  width: 400px; height: 268px;

  background: url(../i/swirls.svg);
  background-size: cover;

  // horizontal mirror
  transform: scale(-1,1);
  
  @media (max-width: 640px) {
    display: none;
  }
}
//</editor-fold>