
@import "_variables";

#utilities {
  width: 30px;
  height: 30px;
  margin-left: calc(~"50% - 15px");
  text-align: center;
  position: relative;

  .inner {
    // this gets animated in; see animations.less
    opacity: 0;
    pointer-events: none;

    position: absolute;
    z-index: 20;
    width: 200px;
    padding: 12px;
    background: darken(@SPOKE_COLOR,7%);
    box-shadow: 0 0 20px #000;
    border-radius: 3px;
    margin-left: unit(-(100-15+12), px); // 15 for button size, 12 for padding

    a {
      display: inline-block;
      font: 15px/16px Ev;
      text-transform: uppercase;
      transition: opacity 0.15s;

      opacity: 0.6;
      &:hover {
        opacity: 0.9;
      }
      & + a {
        margin-top: @MINI_SPACER;
      }
    }
  }
}

#open-utilities-btn {

  opacity: 0.5;
  transition: opacity 0.15s;

  &:hover {
    opacity: 0.7
  }

  &.on {
    opacity: 0.9
  }

  img {
    max-width: 100%;
    background: transparent;
  }

}
